// GLOBAL LAYOUT
.home {
  max-width: 98%;
}

#main-title {
  width: 90%;
  max-width: 90%;
  font-size: 60px;
}

.home .hero .description {
  width: 90%;
  max-width: 90%;
}

.theme-default-content:not(.custom) {
  max-width: 100%;
}

// SWAGGER UI
.scheme-container {
  display: none;
}

.information-container {
  display: none;
}