/* ############################################################################################# */
/* # FONTS */
/* ############################################################################################# */
@font-face {
  font-family: 'Format Grotesk';
  src: url('/fonts/FormatGrotesk-Fett.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Format Grotesk';
  src: url('/fonts/FormatGrotesk-Normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Format Grotesk';
}

/* ############################################################################################# */
/* # SITE LAYOUT */
/* ############################################################################################# */
#main-title {
  width: 90%;
  max-width: 90%;
  font-size: 60px;
}

.theme-default-content:not(.custom) {
  max-width: 100%;
}

.navbar {
  /* border-bottom: 0px; */
}

.sidebar {
  /* border-right: 0px; */
}

/* ############################################################################################# */
/* # SWAGGER UI */
/* ############################################################################################# */
.scheme-container {
  // display: none;
}

.information-container {
  // display: none;
}